.env
.idea

*.pyc
*.pyo
octopus/ui
octopus/devonly.py
octopus/settings/local_*
octopus/settings/online_*

db.sqlite3

datasource

celerybeat-schedule*

var
log

tentacle/conf.*
tentacle/proxies.txt

*.log
